.products-container{
    display: flex;
    height: calc(100vh - 80px);
    overflow-y: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    padding: 15px;
    box-sizing: border-box;
}